@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');

.tituloH3{
    color: #d66e0d;
    font-family: 'Lobster', cursive;
}

.escrita{
    font-family: 'PT Sans Narrow', sans-serif;
}