@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');


.tituloH4{
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: 'Lobster', cursive;
}

.btns{
    font-size: 18px;
    color: #ffffff;
    font-family: 'PT Sans Narrow', sans-serif;
}